html {
    height: 100%;
    
}

h1, h2, h3, p {
    font-family: 'Roboto';
    font-weight: 200;
}

body {
    
    height: 100%;
    position: relative;
}

#index {
    background-image: url("pions.gif");
}

#google {
    background-image: url("brave.gif");
}

#podushka {
    background-image: url("corgi.gif");
}

#krislo {
    background-image: url("zellya.gif");
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.present-container {
    height: 270px;
    width: 400px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.present-container>h1 {
    text-align: center;
    width: 100%;
}

.present-container>p {
    text-align: center;
    width: 100%;
}

#hint {
    width: 100%;
}

#hint>a {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.blue {
    color:  #0057b8;
}

.yellow {
    color: #ffd700;
}